{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": [
                    "./src"
                ],
                "extensions": [
                    ".js",
                    ".ios.js",
                    ".android.js"
                ],
                "alias": {
                    "_config": "./src/config",
                    "_redux": "./src/redux",
                    "_i18n": "./src/i18n",
                    "_modules": "./src/modules",
                    "_assets": "./src/assets",
                    "_components": "./src/components",
                    "_navigations": "./src/navigations",
                    "_scenes": "./src/scenes",
                    "_services": "./src/services",
                    "_utils": "./src/utils",
                    "_theme": "./src/theme"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
